
  .heightSet {
    height: 65vh;
  }
  @media (width>3200px) {
    .heightSet {
      height: 95vh; 
    }
  }
  @media (width>2500px) {
    .heightSet {
        height: 70vh;
    }
  }
  @media (width>1400px){
    .heightSet {
        height: 70vh;
    }
  }
