/* @media (min-width: 768px) {
	.card {
		max-width: 600px !important;
		max-height: 600px !important;
	}
} */
.mainDiv{
	height: 90vh;
	width: 80vw;
	padding-top: .5rem;
}
.imageDiv{
	height: 100%;
	border: .2rem solid #fd5564;
	width: 40%
}
.infoDiv{
	border: .2rem solid #fd5564;
	width:60%;
	display: flex;
	justify-content: start;
	flex-direction: column;
	/* padding: 1rem; */
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}
.cardTitle {
	font-size: 5rem;
	color: black;
	text-decoration: underline;
}
.breed {
	font-size: 3rem;
	color: black;
}

.details {
	font-size: 2rem;
	color: black;
}
.cardLi {
	font-size: 2rem;
	margin-left: 3rem;
	list-style-type: disc;
}
.buttonDiv {
	padding-right: 2rem;
	align-items: end;
	height: 100%;

}
.buttonStyle {
	height: 6rem;
	width: 6rem;
	margin-left: 2rem;
}
.buttonSvg {
	height: 5rem;
	width: 5rem;
}
@media (width<1500px) {
	.imageDiv{
		width: 50%;
	}
	.infoDiv{
		width: 50%;
	}
	.cardTitle {
		font-size: 6rem;
		
	}
}
@media (width<1024px) {
	.mainDiv{
		height: 80vh;
		width: 95%;
	}
	.imageDiv{
		height: 60%;
		width: 100%
	}
	.imageStyle {
		width: 100%;
		height: auto
	}
	.infoDiv{
		width:100%;
		justify-content: start;
		height: 40%;
		padding: 1rem;
	}
	.cardTitle {
		font-size: 2rem;
		color: black;
		margin-bottom: 0rem;
	}
	.breed {
		font-size:1.5rem;
		color: black;
	}
	
	.details {
		font-size: 1rem;
		color: black;
	}
	.cardLi {
		font-size: 1rem;
		margin-left: 2rem;
		list-style-type: disc;
	}
	.buttonDiv {
		padding-right: 2rem;
		
	}
	.buttonStyle {
		height: 3rem;
		width: 3rem;
	}
	.buttonSvg {
		height: 2rem;
		width: 2rem;
	}
}